main {
    height: 100%;
}

.splash-pad-title {
    font-size: 1.5em;
}

.splash-pad-status {
    margin-top: 3.5em;
    margin-bottom: 3.5em;

    div {
        font-size: 6em;
    }
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.splash-pad-details {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
    font-size: 1em;
}

.splash-pad-buttons {
    margin-top: 3.5em;
    margin-bottom: 3.5em;
    button {
        text-align: center;
        font-size: 1.6em;
        padding: 0.3em;
        margin: 0em 0.4em;
    }
}
